header {
    color: aliceblue;
    text-shadow: 2px 2px 6px #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}
h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
    color: aliceblue;
}

h3 {
    font-size: 20px;
    color: aliceblue;
}

body { 
margin-left: 30px;
margin-right: auto;

font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
text-decoration: aliceblue;
background-image: url('fondo.jpg');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

section#CREACION\ DEL\ JUEGO {
 width: 100%; 
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px #000;
 display: table-row;
}

section {
    margin: 20px;
    padding: auto;
    background-color: rgba(24, 58, 24, 0.8);
    border-radius: 10px;
    box-shadow: 0px 6px rgba(0, 0, 0, 0.2);
    

    align-items: auto;
    color: rgb(181, 206, 179);
    text-shadow: 2px 2px 6px #000000;
}

.indice
{
    margin: 20px;
    color: rgb(181, 206, 179);
    text-shadow: 2px 2px 6px #000000;
}

.personajes {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: flex-start;
    margin-top: 20px;

}

.columnas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    display: table-row ;   
    max-width: 350px;
}

.imagenes {
    width: 100%;
    max-width: 230px; 
    margin: 10px auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 4px 10px #000;
}

a {
    display: block;
    fill: rgb(29, 97, 40);
    border-radius: 10px;
    color: aliceblue;
    text-decoration: none;
}